wall,
wall-border {
    display   : block;
    position  : absolute;
    left      : var(--wallX);
    top       : var(--wallY);
    outline   : 1px solid gray;
    transition: all .2s ease;

    &.vertical {
        height: 100dvh;
        width : 0;
    }

    &.horizontal {
        width : 100dvw;
        height: 0;
    }

    &.border {
        width: var(--wallWidth);
    }
}